body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title {
    text-align: center;
    margin-top: 1rem;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 100px); /* Adjust height to account for title and button */
}

#canvas-area {
    width: 100%;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

#start-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #A2678A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-button:active {
    background-color: #8b5a76;
}
